{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 page-header">
            <h3>Recuperação de senha</h3>
        </div>
        <div class="col-md-12">
            <p>Nós lhe enviamos um e-mail com as instruções para recuperar sua senha, caso exista uma conta com o e-mail que você digitou.</p>
            <p>Você deve recebê-lo em breve.</p>
            <p>Caso não tenha recebido nenhum e-mail, por favor verifique o e-mail digitado e a sua caixa de spam.</p>
        </div>
    </div>
</div>
{% endblock %}
