{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/form.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 page-header">
            <h3>Recuperação de senha</h3>
        </div>
        <div class="col-sm-4 col-xs-8">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <h4><strong>E-mail</strong></h4>
                    <input class="form-control" id="id_email" maxlength="254" name="email" type="email" required="">
                </div>
                <button class="btn btn-primary">Recuperar senha</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}