{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/members.css">
{% endblock %}

{% block content %}
<div class="container">
{% for role in roles %}
    <div class="row">
    {% if role.members %}
        <div class="col-xs-12">
            <h2>{{ role.role }}</h2>
        </div>
        {% for member in role.members %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                {% if member.photo %}
                                    <img src="{{ MEDIA_URL }}{{ member.photo }}" class="img-circle">
                                {% else %}
                                    <img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=100&w=100&h=100" class="img-circle">
                                {% endif %}
                            </div>
                            <div class="col-md-offset-1 col-md-7 col-xs-8">
                                <h4 title="{{ member.name }}">{{ member.name }}</h4>
                                {% if member.facebook_link %}
                                <a href="{{ member.facebook_link }}" target="_blank" title="Facebook">
                                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                </a>
                                {% endif %}
                                {% if member.email %}
                                <a href="mailto:{{ member.email }}" title="{{ member.email }}">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </a>
                                {% endif %}
                                {% if member.lattes_link %}
                                <a href="{{ member.lattes_link }}" target="_blank" title="Lattes">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endfor %}
</div>
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}js/members.js"></script>
{% endblock %}
