html,
body {
    font-family: 'Open Sans', 'Helvetica', 'sans serif';
}

.navbar-default {
    border: 0px solid #fff;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .nav > li:focus,
.navbar-default .nav > li:hover {
    background-color: #e9e9e9;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-default .nav > li a,
.navbar-default .nav > li a:focus,
.navbar-default .nav > li a:hover {
    color: #777;
}

.navbar-default .navbar-toggle {
    border: 0px solid #fff;
}

.nav-pills {
    margin-bottom: 10px;
}

.nav-pills > li > a {
    border-radius: 2px;
    color: #333;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-pills > li.active > a {
    background-color: #4682B4;
}

.nav-pills > li.active > a:hover {
    background-color: #3f75a2;
}

footer {
    background-color: #e7e7e7;
    padding: 15px;
    color: #777;
}
