.navbar {
    border: 0px solid white;
}

.navbar-default .navbar-toggle {
    border: 0px solid white;
}

html, body {
    font-family: 'Roboto', 'sans serif';
}

.nav-pills {
    margin-bottom: 10px;
}

.nav-pills > li > a {
    border-radius: 2px;
    color: #333;
}

.nav-pills > li.active > a {
    background-color: #4682B4;
}

.nav-pills > li.active > a:hover {
    background-color: #3f75a2;
}

footer {
    background-color: #e7e7e7;
    padding: 15px;
    color: #777;
}
