.post {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.post a {
    text-decoration: none;
    color: #333;
}

.post a:hover {
    color: #000;
}

.post p {
    margin-top: 10px;
}

.post div span {
    margin-right: 20px;
}

.post .info {
    font-size: 13px;
    margin-bottom: 25px;
}

.no-posts-message {
    margin-top: 50px;
    text-align: center;
}
