.sidebar {
    margin-top: 40px;
}

.edit-btn,
.remove-btn {
    float: right;
    margin-left: 10px;

}

.remove-btn {
    color: #c9302c;
}

.remove-btn:hover {
    color: #a0232b;
}

.add-btn {
  float: left;
}

@media(max-width:767px){
    .remove-btn {
        margin-top: 5px;
    }
}
