{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/blog.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/form.css">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 page-header">
            <h2>{{ title }} - {{ request.user.member.pet }}</h2>
        </div>
        <form action="{{ action }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="col-md-{% if field == form.text_content %}12{% else %}7{% endif %}">
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <h4><strong>{{ field.label }}</strong></h4>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                    <span class="help-block">{{ field.help_text }}</span>
                    {% if field == form.publish_as_team %}
                    <div class="radio">
                        {{ field.0 }}
                    </div>
                    <div class="radio">
                        {{ field.1 }}
                    </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="col-md-12">
                <button class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

