{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/blog.css">
{% endblock %}

{% block content %}
<div class="container posts">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Blog</h2>
        </div>
    </div>
    {% for post in posts %}
    <div class="row post">
        <div class="col-md-11 col-sm-12">
            <div class="panel-body">
                <div class="col-sm-5 col-xs-12">
                    <a href="{%if not prev%}{% url 'blog.post' id=post.id %}{%else%}{% url 'blog.preview' id=post.id %}{%endif%}?pet={{ post.member.pet.id }}" class="hidden-xs">
                        <img class="img-responsive" src="{{ MEDIA_URL }}{{ post.thumbnail }}">
                    </a>
                </div>
                <div class="col-sm-7 col-xs-12">
                    {% if not request.GET.pet %}
                        <span>{{ post.member.pet }}</span>
                    {% endif %}
                    <a href="{%if not prev%}{% url 'blog.post' id=post.id %}{%else%}{% url 'blog.preview' id=post.id %}{%endif%}?pet={{ post.user }}">
                        <h3>{{ post.title }}</h3>
                    </a>
                    <small>Por {% if post.publish_as_team %}Equipe PET{% else %}{{ post.member.name }}{% endif %} - {{ post.publish_date }}</small>
                    <p>{{ post.text_call }}</p>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-md-12">
        <p class="no-posts-message">Este PET ainda não possui nenhum post!</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
