<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="{{ STATIC_URL }}/media/logo-pet.png" class="d-inline-block align-top" width="30" height="30" alt="logo">
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        PET
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'blog.index' %}{% if request.GET.pet %}?pet={{ request.GET.pet }}{% endif %}">Blog<span class="sr-only">(current)</span></a></li>
                        <li><a href="{% url 'members.index' %}{% if request.GET.pet %}?pet={{ request.GET.pet }}{% endif %}">Membros</a></li>
                        
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'blog.add_post' %}{% if request.GET.pet %}?pet={{ request.GET.pet }}{% endif %}">Publicar</a></li>
                         <li><a href="{% url 'blog.allinative' %}">Posts Inativos</a></li>
                        {% endif %}

                        <li><a href="{% url 'events:index' %}">Eventos</a></li>
                        <li><a href="{% url 'about' %}">Sobre</a></li>


                    </ul>  
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.get_username }} <span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'members.edit_personal_info' %}">Meu perfil</a></li>
                                    <li><a href="{% url 'staff.index' %}">Administração</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'staff.auth_logout' %}">Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <form action="{% url 'members.add_member' %}">
                                    {% csrf_token %}
                                    <button class="btn btn-primary navbar-btn"">Registrar</button>
                                </form>
                            </li>
                            <li><a href="{% url 'staff.auth_login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        </br></br></br></br>