<div id="popUp" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div style="text-align: center;" class="modal-content">
            <h2>Atenção</h2>
            <hr>
            <p id="text-position"></p>
            <hr>
            <button id="close" type="button" class="btn-primary">Voltar</button>
            <button id="link" type="button" class="btn-danger">Sim</button>
            <hr>
        </div>
    </div>
</div>