{% extends "staff/base.html" %}

{% block staff_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Área de administração</h2>
                <p>Como <strong>administrador</strong>, você pode adicionar, editar e remover tutores.</p>
            </div>
        </div>
        <div class="col-md-9">
            <h3>Tutores</h3>
            <table id="tutors" class="display table table-bordered table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Usuário</th>
                        <th>PET</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block staff_js %}
<script src="{{ STATIC_URL }}js/staff/admin_index.js"></script>
{% endblock %}


