{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/staff.css">
{% endblock %}

{% block content %}
    {% block staff_content %}
    {% endblock %}
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
<script src="{{ STATIC_URL }}js/blog/table.js"></script>
    {% block staff_js %}
    {% endblock %}
{% endblock %}

