{% extends "staff/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Área de administração</h2>
                <p>Como <strong>petiano</strong>, você pode adicionar, editar e remover posts do seu PET.</p>
            </div>
        </div>
        <div class="col-md-9">
            <h4>Posts</h4>
            <table id="posts" class="display table table-bordered table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Data</th>
                        <th>Opções</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block staff_js %}
<script src="{{ STATIC_URL }}js/staff/member_index.js"></script>
{% endblock %}
