.panel {
    border-radius: 0px;
}

.panel-body img {
    width: 100px;
    height: 100px;
}

.panel-body a {
    text-decoration: none;
}

.panel-body a i.fa {
    font-size: 18px;
    margin-right: 8px;
    color: #3b5998;
}

.panel-body a i.fa:hover {
    color: #32497a;
}

/*.panel-body h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}*/

/* 4" phones */
@media (max-width: 320px) {
    .panel-body .row > div {
        width: 100%;
        text-align: center;
    }
    .panel-body .row > .col-md-4 {
        display: table;
    }
}
