{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/blog.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/form.css">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 page-header">
            <h2>Novo post - {{ request.user.member.pet }}</h2>
        </div>
        <form action="{% url 'blog.add_post' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="col-md-{% if field.field.label == 'Conteúdo' %}12{% else %}7{% endif %}">
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <h4><strong>{{ field.label }}<strong></h4>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                    {% if field.field.label == 'Postar em nome da equipe' %}
                    <span class="help-block">Ao postar em nome da equipe, a autoria do post será atribuida ao PET.<br>Ainda será possível saber qual membro criou o post.</span>
                    <div class="radio">
                        {{ field.0 }}
                    </div>
                    <div class="radio">
                        {{ field.1 }}
                    </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="col-md-12">
                <button class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

