{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}/css/blog.css">
{% endblock %}

{% block content %}
<div class="container">
    {% for publication in publications %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default publication">
                <div class="panel-body">
                    <div class="col-sm-4 col-xs-12">
                        <a href="{% url 'blog.show' id=publication.id %}">
                            <img class="img-responsive" src="{{ MEDIA_URL }}/{{ publication.thumbnail }}">
                        </a>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <span>{{ publication.user.get_username }}</span>
                        <span>{{ publication.publish_date }}</span>
                        <a href="{% url 'blog.show' id=publication.id %}">
                            <h3>{{ publication.title }}</h3>
                        </a>
                        <small>Por {{ publication.author }}</small>
                        <p>{{ publication.text_call }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
<script src="{{ MEDIA_URL }}/js/blog.js"></script>
{% endblock %}
