{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}/css/blog.css">
{% endblock %}

{% block content %}
<div class="container">
    {% for post in posts %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default post">
                <div class="panel-body">
                    <div class="col-sm-4 col-xs-12">
                        <a href="{% url 'blog.post' id=post.id %}" class="hidden-xs">
                            <img class="img-responsive" src="{{ MEDIA_URL }}/{{ post.thumbnail }}">
                        </a>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <span>{{ post.user.get_username }}</span>
                        <span>{{ post.publish_date }}</span>
                        <a href="{% url 'blog.post' id=post.id %}?pet={{ post.user }}">
                            <h3>{{ post.title }}</h3>
                        </a>
                        <small>Por {{ post.author }}</small>
                        <p>{{ post.text_call }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
<script src="{{ MEDIA_URL }}/js/blog.js"></script>
{% endblock %}
