<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PET CEFET-MG</title>

    <link rel="stylesheet" href="{{ MEDIA_URL }}/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}/css/font-awesome.min.css">

    {% block css %}
    {% endblock %}
</head>

<body>
{% block content %}
{% endblock %}

<script src="{{ MEDIA_URL }}/js/jquery/jquery.min.js"></script>
<script src="{{ MEDIA_URL }}/js/bootstrap/bootstrap.min.js"></script>

{% block js %}
{% endblock %}
</body>
</html>
