<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PET CEFET-MG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ MEDIA_URL }}logo_cefet_color.png">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    {% block css %}
    {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        PET
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'blog.index' %}{% if request.GET.pet %}?pet={{ request.GET.pet }}{% endif %}">Blog<span class="sr-only">(current)</span></a></li>
                        <li><a href="{% url 'members.index' %}{% if request.GET.pet %}?pet={{ request.GET.pet }}{% endif %}">Membros</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <ul class="nav nav-pills">
                <li role="presentation" class="{% if not request.GET.pet %}active{% endif %}"><a href="{% url name %}">Todos</a></li>
                {% for user in users %}
                    <li role="presentation" class="{% if request.GET.pet == user.get_username %}active{% endif %}"><a href="{% url name %}?pet={{ user.get_username }}">{{ user.pet }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </header>

{% block content %}
{% endblock %}

<script src="{{ STATIC_URL }}js/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>

{% block js %}
{% endblock %}
</body>
</html>
